<h3>My Campaigns</h3>
<div class="well">
  <table class="table table-striped">
  <tr>
    <th><%= sortable "name", "Campaign Name" %></th>
    <th><%= sortable "created_at", "Start Date" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= l campaign.created_at, :format => :short %></td>
    <td><%= link_to 'View', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Campaign', new_campaign_path, :class => "btn" %>
</div>