<p id="notice"><%= notice %></p>

<p>
  <h1><%= @campaign.name %></h1>
  <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
  <%= link_to 'Back', campaigns_path %>
	<br><br>
</p>
<p>
	<h3>Projects: </h3>
</p>
<% @campaign.projects.each do |project| %>
  <p>
    <%= project.name %>
    <b> | Launch Date: </b>
    <%= project.launchdate %>
  </p>
<% end %>
<br><br>
<h3>Add a project:</h3>
<%= form_for([@campaign, @campaign.projects.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :launchdate %><br />
    <%= f.datetime_select :launchdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



